.hero {
    /* overflow: hidden; */
    height: 100vh;
}

.hero::before {
    content: '';
    position: absolute;
    rotate: 45deg;
    transform: translate(-50%, -50%);
    left: -10%;
    width: 500px;
    height: 500px;
    background: rgba(71, 0, 119, 0.2);
    border-radius: 50%;
    z-index: -1;
    filter: blur(100px);
}

.hero::after {
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    left: 50%;
    z-index: -100;
    right: 50%;
    top: 50%;
    border-top: 4px dashed rgb(255, 0, 230);
    border-bottom: 4px dashed rgb(255, 0, 230);
    transform: translate(-50%, -50%);
    opacity: 15%;
}