@import "tailwindcss";

:root {

  --clr-1: #1A1A1D;
  --clr-2: #161A31;
  --clr-3: #CBACF9;
  --clr-txt: #C1C2D3;
  --clr-title: #FFFFFF;


  --gradient-1: background: rgb(4, 7, 29);
  --gradient-2: linear-gradient(336deg, rgba(4, 7, 29, 1) 0%, rgba(12, 14, 35, 1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  background: var(--clr-1);
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--clr-1);

}

::-webkit-scrollbar-thumb {
  background: var(--clr-2);
  border-radius: 10px;
}